
/*Big tablets to 1200px  (widths smaller that the 1140px row */
@media only screen and (max-width: 1200px) {
    .hero-text-box{
     width: 100%;
     padding: 0 2%; /* top and bottom and 2% for left and righ*/
    
    }
    .row { 
         padding: 0 2%;
         }

}


/*Small tablet to big tablet : from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
        
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
  .steps-box {
      margin-top: 10px;
  }
  .steps-box:last-child {
      margin-top: 10px;
  }
  .works-step {
      margin-bottom: 40px;
  }

  .works-step:last-child {
      margin-bottom: 60px;
  }
  .app-screen {
      width: 50%;
  }

  .contact-form {
      width: 80%;
  }

}


/*Small phones to small tablets: from 481px to 767px*/
@media only screen and (max-width: 767px) {

body {
    font-size: 16px;

}
.row ,
.hero-text-box {
    padding: 0 4%;
}
.col {
    width: 100%;
    margin:  0 0 4% 0;
}
.main-nav {
    display: none;
}
.logo  {
    margin-top: 16px;
}
.long-name-container {
    margin-top: 30px;
}

.mobile-nav-icon {
    display: inline-block;
}

.main-nav {
    float: left;
    margin-top: 35px;
    margin-left: 25px;
}

.main-nav li {
    display: block;
}
.main-nav li a:link,
.main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
}

.sticky .main-nav {
    margin-top: 10px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 10px 0;
}

.sticky .mobile-nav-icon  {
    margin-top: 10px ;
}
.sticky .mobile-nav-icon i {
    color: #555;
}



.container {
    display: none;
}

h1 {
    font-size: 180%;
}
h2 {
    font-size: 150%;
}
.long-copy {
    width: 100%;
    margin-left: 3%;
}
.app-screen {
    width: 40%;
}
.steps-box:first-child {
    text-align: center;
}

.works-step div {  /* step 1, 2 , 3*/
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;
}

  .works-step {
      margin-bottom: 20px;
  }
  .works-step:last-child {
      margin-bottom: 20px;
  }
  .icon-big {
      
      margin-left: 1px;
  }

}

/* Small phone : from 0 to 657px */
@media only screen and (max-width: 657px) {

.works-step {
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.section-features {
    padding: 30px ;
}

    .hero-text-box, .row{
     width: 100%;
     padding: 0 6%; /* top and bottom and 2% for left and righ*/
    
    }
    .logo {
        height: 70px;
    }
    .logo_para{
        height: 70px;
        margin-top: 39px;
    }
}

/* Small phone : from 0 to 480px */
@media only screen and (max-width: 480px) {


    .contact-form {
        width: 100%;
    }
    
    
}
